<!-- filepath: c:\Users\decha\Documents\GitHub\DATTC\views\partials\footer.ejs -->
        <footer class="footer">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-text">
                        <p>&copy; <%= new Date().getFullYear() %> Digital Arts Technology Training Center Inc. All rights reserved @JAMDC.</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/js/parallax.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>